#logo {
  height: 30vh;

  margin: 2vh auto 5vh;
}

#title {
  font-size: x-large;

  margin-bottom: 1vh;
}

ion-button {
  height: 3em;

  font-size: medium;

  margin-bottom: 2vh;
}

ion-icon {
  margin-right: 10px;
}

ion-label {
  display: block;
}
